In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

#1

In [2]:
machine = pd.read_csv('./files_for_lab/machine.txt', sep="\t" ,encoding = 'utf16')

In [3]:
machine.head(20)

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [4]:
machine['difference'] = machine['New machine'] - machine['Old machine']

In [5]:
machine.head(20)

   New machine  Old machine  difference
0         42.1         42.7        -0.6
1         41.0         43.6        -2.6
2         41.3         43.8        -2.5
3         41.8         43.3        -1.5
4         42.4         42.5        -0.1
5         42.8         43.5        -0.7
6         43.2         43.1         0.1
7         42.3         41.7         0.6
8         41.8         44.0        -2.2
9         42.7         44.1        -1.4

In [6]:
machine['New machine'].mean()

42.14

In [7]:
machine['Old machine'].mean()

43.230000000000004

In [8]:
print('p value (single tailed): ',st.ttest_1samp(machine['difference'],0)[1]/2)

p value (single tailed):  0.006770167825816246

In [9]:
st.ttest_rel(machine['New machine'], machine['Old machine'])

Ttest_relResult(statistic=-3.0614273841115853, pvalue=0.013540335651632492)

In [10]:
st.ttest_1samp(machine['New machine'] - machine['Old machine'],0)

Ttest_1sampResult(statistic=-3.0614273841115853, pvalue=0.013540335651632492)

#2

In [11]:
pokemon = pd.read_csv('./files_for_lab/pokemon.csv')

In [12]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [13]:
pokemon = pokemon[['Attack','Defense']]

In [14]:
pokemon.head()

   Attack  Defense
0      49       49
1      62       63
2      82       83
3     100      123
4      52       43

In [15]:
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [16]:
st.ttest_1samp(pokemon['Attack'] - pokemon['Defense'],0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# OPTIONAL PART | Inferential statistics - ANOVA

In [17]:
anova = pd.read_excel('./files_for_lab/anova_lab_data.xlsx')

In [18]:
anova.head(50)

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [19]:
anova.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [20]:
anova[anova['Power ']=='160 W']['Etching Rate'].mean()

5.792

In [21]:
anova[anova['Power ']=='180 W']['Etching Rate'].mean()

6.2379999999999995

In [22]:
anova[anova['Power ']=='200 W']['Etching Rate'].mean()

8.318

In [23]:
anova['count'] = anova.pivot_table(index = 'Power ', aggfunc = 'cumcount')
anova

   Power   Etching Rate  count
0   160 W          5.43      0
1   180 W          6.24      0
2   200 W          8.79      0
3   160 W          5.71      1
4   180 W          6.71      1
5   200 W          9.20      1
6   160 W          6.22      2
7   180 W          5.98      2
8   200 W          7.90      2
9   160 W          6.01      3
10  180 W          5.66      3
11  200 W          8.15      3
12  160 W          5.59      4
13  180 W          6.60      4
14  200 W          7.55      4

In [24]:
power =anova.pivot(index = 'count', columns = 'Power ')
power

       Etching Rate
Power         160 W 180 W 200 W
count
0              5.43  6.24  8.79
1              5.71  6.71  9.20
2              6.22  5.98  7.90
3              6.01  5.66  8.15
4              5.59  6.60  7.55

In [25]:
power.columns = ['160W', '180W', '200W']

In [26]:
st.f_oneway(power['160W'],power['180W'],power['200W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)